{% extends 'layouts/base.html' %}
{% load staticfiles %}
{% block bootstrap3_content %}

    <div class="container">
        <div class="row">
            <div class="col-xs-2 col-xs-1-offser">
                <ul class="list-unstyled">
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    {% include 'include/menu_not_logged.html' %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}


