{% extends 'layouts/base.html' %}
{% load staticfiles %}
{% block bootstrap3_content %}
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                        {% block user_content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block bootstrap3_extra_script %}
    <link href="{% static "jquery-ui.css" %}" rel="stylesheet">
    <script type="text/javascript" src="{% static "scripts.js" %}"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
{% endblock %}