{% extends 'layouts/main.html' %}
{% block bootstrap3_content %}
    <h2> Dear, {{ username }}</h2>
    <i> Така собі правда розмітка.. розумію тепер для чого знати теги по типу < b>, < strong> і т.п. </i>
    <br/>
    <h4>We got your order # {{ order.id }} for {{ order.date }} with</h4>
    <h3>
        <table>
            <thead>
            <tr>
                <th>Title</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            {% for dish in order.items.all %}
                <tr>
                    <td>{{ dish.name }}</td>
                    <td>{{ dish.price }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </h3>
    <h2>Total is {{ order.total }} uah</h2>
    Have a nice day:)
{% endblock %}