{% extends 'base.html' %}
{% load staticfiles %}
{% block bootstrap3_content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {% include 'include/signin.html' %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a href="{% url 'new_order' %}">Зробити замовлення</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a href="{% url 'order_history' %}">Мої замовлення</a>
            </div>
        </div>
    </div>

{% endblock %}