{% extends 'main.html' %}
{% block user_content %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <form action="login" method="post">
                    {% csrf_token %}
                    {{ new_user }}
                    {{ login_error }}
                    <input type="submit" class="button" value="Login">
                    <a href="{% url 'register' %}">Зареєструватися</a>
                </form>
            </div>
        </div>
    </div>



{% endblock %}