{% extends 'layouts/main_not_logged.html' %}
{% block user_content %}


    {% if custom_error %}
        <div class="alert alert-danger">
            <p>{{ custom_error }}</p>
        </div>
    {% endif %}


    <form action="/login/" method="post">
        {% csrf_token %}

        {% for field in form.visible_fields %}

            {% if field.errors %}
                <div class="alert alert-danger">
                    <p>{{ field.errors }}</p>
                </div>
            {% endif %}

            {{ field }}
            <br/>
        {% endfor %}

        <input type="submit" class="btn btn-primary btn-block" value="Login">
    </form>
{% endblock %}