{% extends 'layouts/main_logged_in.html' %}
{% block user_content %}



    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% for order in orders %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading-{{ order.id }}">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                           href="#collapse-{{ order.id }}" aria-expanded="false"
                           aria-controls="collapse-{{ order.id }}">
                            №{{ order.id }}, {{ order.date }}, загальна сума - {{ order.total }}
                        </a>
                    </h4>
                </div>
                <div id="collapse-{{ order.id }}" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="heading-{{ order.id }}">
                    <div class="panel-body">
                        <table class="table">
                            <caption>Дата створення замовлення: {{ order.modified_date }}</caption>
                            <thead>
                            <tr>
                                <th>Title</th>
                                <th>Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for dish in order.items.all %}
                                <tr>
                                    <td>{{ dish.name }}</td>
                                    <td>{{ dish.price }}</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>




{% endblock %}