{% extends 'layouts/main_logged_in.html' %}}
{% block user_content %}

    <div class="col-xs-8">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                           href="#collapse" aria-expanded="false"
                           aria-controls="collapse">
                            Статистика витрат
                        </a>
                    </h4>
                </div>
                <div id="collapse" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="heading">
                    <div class="panel-body">
                        <table class="table">
                                    <caption>Замовлення за : </caption>
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>Кількість</th>
                                        <th>На суму</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for category in categories %}
                                            <tr>
                                                <td>{{ category }}</td>
                                                <td>{{ q }}</td>
                                                <td>{{ q }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-3 col-xs-offset-1">
        <div class="well well-sm">
            <h5 class="text-center">Get orders by</h5>
            <div><a href="?statistic=week">Цього тижня</a></div>
            <div><a href="?statistic=month">Цього місяця</a></div>
            <div><a href="?statistic=all">За весь період</a></div>
            <div><a href="?statistic=custom">Обрати період</a></div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}


